body {
  font-family: 'Google Sans', sans-serif;
  font-size: 1.2em;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.dperact {
  font-variant: small-caps;
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.teaser video {
  object-fit: fill;
  
}
#glass{
  margin-left: -10px;
}

.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(212, 88%, 50%) !important;
}

.conference-authors a {
   color: hsl(0, 0%, 16%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
  font-size: large;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100vh;
  background-size: cover;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

#interpolation-image img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

 .dropdown-item{
    white-space: pre-wrap;
}  


.justify {
  text-align: justify;
}

.container-gallery
{
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-perspective: 1000;
    perspective: 1000;
    position: relative;
}

.popup
{
    width: 250px;
    margin: 0 -25px;
    position: relative;
    box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: .2s;
    cursor: pointer;
}

    .popup:hover
    {
        -webkit-transition: .2s;
        transition: .2s;
        -webkit-transform: translateZ(5px) translateY(-20px) scale(1.05);
        transform: translateZ(5px) translateY(-20px) scale(1.05);
    }

.popup-1,
.popup-4
{
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
}

.popup-2,
.popup-5
{
    -webkit-transform: translateZ(2px) translateY(-5px);
    transform: translateZ(2px) translateY(-5px);
}

.popup-3
{
    -webkit-transform: translateZ(3px) translateY(-10px);
    transform: translateZ(3px) translateY(-10px);
}

.popup-1:hover ~ .popup-2
{
    -webkit-transform: translateZ(4px) translateY(-15px);
    transform: translateZ(4px) translateY(-15px);
    -webkit-transition: .2s;
    transition: .2s;
}

.popup-4
{
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
}

    .popup-4:hover ~ .popup-5
    {
        -webkit-transform: translateZ(3px) translateY(-15px);
        transform: translateZ(3px) translateY(-15px);
        -webkit-transition: .1s;
        transition: .1s;
    }

.row {
  margin: 15px;
}

.gif-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.gif-container img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  will-change: transform;
}

.btn {
  background-color: Gray;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}


.is-rounded {
  border-radius: 12px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: Silver;
}

a {
  color: inherit;
  text-decoration: none;
}

.centered {
  text-align: center;
}

.publication-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  overflow: hidden;
  border-radius: 10px !important;
}

.publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.responsive-image {
  width: 80%;
  display: block;
  margin: 0 auto;
}

/* For smaller screens */
@media (max-width: 768px) {
  img.responsive-image {
    width: 100%;
    /* Full width on small screens */
  }
}

/* For very large screens */
@media (min-width: 1200px) {
  img.responsive-image {
    width: 60%;
    /* Smaller width on large screens */
  }
}

.section,
.hero {
  width: 80%;
  margin: 0 auto;
}

.hero-body,
.container {
  width: 100%;
}

.columns,
.rows {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column,
.row {
  width: 100%;
}

.title.is-1,
.title.is-4 {
  text-align: center;
}

.publication-links,
.publication-authors {
  text-align: center;
}

.color-boxes {
  display: flex;
  /* Align boxes horizontally */
  gap: 10px;
  /* Space between boxes */
}

.color-box {
  width: 30px;
  /* Width of each box */
  height: 20px;
  /* Height of each box */

}

.box-1 {
  background-color: #b3b7ee;
  /* Color of the first box */
}

.box-2 {
  background-color: #ea9ab2;
  /* Color of the second box */
}

.box-3 {
  background-color: #ebd9fc;
  /* Color of the third box */
}